# Import RCMIP2 scenarios

In [1]:
%cd ..

/home/rocky/project/mce

In [54]:
import re
import numpy as np
import pandas as pd
from mce.core import ScenarioBase
from mce.core.forcing import RfAll
from mce.util.io import retrieve_url

In [105]:
forcing = RfAll()

## Read RCMIP2 data

In [162]:
fmt = 'rcmip-{}-annual-means-v5-1-0.csv'.format
dfin = {}
for cat, cat_full in {
    'emis': 'emissions',
    'conc': 'concentrations',
    'rf': 'radiative-forcing',
}.items():
    fn = fmt(cat_full)
    path = retrieve_url(
        f'datain/rcmip/{fn}',
        f'https://rcmip-protocols-au.s3-ap-southeast-2.amazonaws.com/v5.1.0/{fn}',
    )
    dfin[cat] = (
        pd.read_csv(path, index_col=list(range(7)))
        .rename(columns=int)
    )

[2025-04-10 16:11:55 mce.util.io] INFO:Use local file datain/rcmip/rcmip-emissions-annual-means-v5-1-0.csv retrieved from https://rcmip-protocols-au.s3-ap-southeast-2.amazonaws.com/v5.1.0/rcmip-emissions-annual-means-v5-1-0.csv on 2025-02-08
[2025-04-10 16:11:56 mce.util.io] INFO:Use local file datain/rcmip/rcmip-concentrations-annual-means-v5-1-0.csv retrieved from https://rcmip-protocols-au.s3-ap-southeast-2.amazonaws.com/v5.1.0/rcmip-concentrations-annual-means-v5-1-0.csv on 2025-02-09
[2025-04-10 16:11:57 mce.util.io] INFO:Use local file datain/rcmip/rcmip-radiative-forcing-annual-means-v5-1-0.csv retrieved from https://rcmip-protocols-au.s3-ap-southeast-2.amazonaws.com/v5.1.0/rcmip-radiative-forcing-annual-means-v5-1-0.csv on 2025-04-09

In [163]:
dfin['conc'].index.names

FrozenList(['Model', 'Scenario', 'Region', 'Variable', 'Unit', 'Activity_Id', 'Mip_Era'])

## Rename variables and units

In [169]:
# Delete the header part  in emission variables
# and change '/yr' to 'yr-1' in emission units
dfin['emis'] = (
    dfin['emis']
    .rename(lambda x: x.replace('Emissions|', ''), level='Variable')
    .rename(lambda x: x.replace('/yr', ' yr-1'), level='Unit')
)

In [170]:
# Categorize emission variables into non-MAGICC, MAGICC AFOLU, and MAGICC FFI
df = dfin['emis']
df_afolu = df.loc[[x.find('MAGICC AFOLU')>=0 for x in df.index.get_level_values('Variable')]]
df_ffi = df.loc[[x.find('MAGICC Fossil and Industrial')>=0 for x in df.index.get_level_values('Variable')]]
df = df.loc[[x.find('MAGICC')==-1 for x in df.index.get_level_values('Variable')]]

len(df_afolu) + len(df_ffi) + len(df) == len(dfin['emis'])

True

In [171]:
def chk(df1, df2=None, level='Variable'):
    """Get unique levels for check
    """
    vl1 = pd.unique(df1.index.get_level_values(level))
    if df2 is None:
        return vl1
    else:
        vl2 = pd.unique(df2.index.get_level_values(level))
        return len(vl1) == len(vl2)

In [172]:
# Rename MAGICC parts
df_afolu_new = df_afolu.rename(lambda x: x.replace('|MAGICC AFOLU', ''), level='Variable')
df_ffi_new = df_ffi.rename(lambda x: x.replace('|MAGICC Fossil and Industrial', ''), level='Variable')

chk(df_afolu, df_afolu_new), chk(df_ffi, df_ffi_new)

(True, True)

In [173]:
df_afolu = df_afolu_new
df_ffi = df_ffi_new
del df_afolu_new
del df_ffi_new

In [207]:
def conv_ghg(x):
    x = re.sub(r'(F-|Montreal )Gases\|', '', x)
    x = re.sub(r'( ?)(CFC|HFC|PFC)\|', r'\1', x)
    x = re.sub(r'( ?)(CFC|HFC|PFC|HCFC|Halon)(.)', r'\1\2-\3', x)
    x = re.sub('(C4F10|C5F12|C6F14)', r'n-\1', x)
    x = x.replace('HFC-4310mee', 'HFC-43-10mee').replace('cC4F8', 'c-C4F8')
    return x

In [175]:
# Rename GHGs
df = df.rename(conv_ghg, level='Variable')
df = df.rename(conv_ghg, level='Unit')

In [176]:
# Check non-GHG names
for x in chk(df, level='Variable'):
    if x not in forcing.ghgs:
        print(x)

BC
CO
NH3
NOx
OC
Sulfur
VOC

In [177]:
# Check AFOLU variables
chk(df_afolu).tolist()

['CO2',
 'BC',
 'BC|Agricultural Waste Burning',
 'BC|Agriculture',
 'BC|Forest Burning',
 'BC|Grassland Burning',
 'BC|Peat Burning',
 'CH4',
 'CH4|Agricultural Waste Burning',
 'CH4|Agriculture',
 'CH4|Forest Burning',
 'CH4|Grassland Burning',
 'CH4|Peat Burning',
 'CO',
 'CO|Agricultural Waste Burning',
 'CO|Agriculture',
 'CO|Forest Burning',
 'CO|Grassland Burning',
 'CO|Peat Burning',
 'N2O',
 'NH3',
 'NH3|Agricultural Waste Burning',
 'NH3|Agriculture',
 'NH3|Forest Burning',
 'NH3|Grassland Burning',
 'NH3|Peat Burning',
 'NOx',
 'NOx|Agricultural Waste Burning',
 'NOx|Agriculture',
 'NOx|Forest Burning',
 'NOx|Grassland Burning',
 'NOx|Peat Burning',
 'OC',
 'OC|Agricultural Waste Burning',
 'OC|Agriculture',
 'OC|Forest Burning',
 'OC|Grassland Burning',
 'OC|Peat Burning',
 'Sulfur',
 'Sulfur|Agricultural Waste Burning',
 'Sulfur|Agriculture',
 'Sulfur|Forest Burning',
 'Sulfur|Grassland Burning',
 'Sulfur|Peat Burning',
 'VOC',
 'VOC|Agricultural Waste Burning',
 'VOC|Agriculture',
 'VOC|Forest Burning',
 'VOC|Grassland Burning',
 'VOC|Peat Burning']

In [178]:
pd.unique([x.split('|')[0] for x in chk(df_afolu)]).tolist()

['CO2', 'BC', 'CH4', 'CO', 'N2O', 'NH3', 'NOx', 'OC', 'Sulfur', 'VOC']

In [179]:
# Check FFI variables
chk(df_ffi).tolist()

['CO2',
 'BC',
 'BC|Aircraft',
 'BC|Energy Sector',
 'BC|Industrial Sector',
 'BC|International Shipping',
 'BC|Residential Commercial Other',
 'BC|Solvents Production and Application',
 'BC|Transportation Sector',
 'BC|Waste',
 'CH4',
 'CH4|Energy Sector',
 'CH4|Industrial Sector',
 'CH4|International Shipping',
 'CH4|Residential Commercial Other',
 'CH4|Solvents Production and Application',
 'CH4|Transportation Sector',
 'CH4|Waste',
 'CO2|Aircraft',
 'CO2|Energy Sector',
 'CO2|Industrial Sector',
 'CO2|International Shipping',
 'CO2|Residential Commercial Other',
 'CO2|Solvents Production and Application',
 'CO2|Transportation Sector',
 'CO2|Waste',
 'CO',
 'CO|Aircraft',
 'CO|Energy Sector',
 'CO|Industrial Sector',
 'CO|International Shipping',
 'CO|Residential Commercial Other',
 'CO|Solvents Production and Application',
 'CO|Transportation Sector',
 'CO|Waste',
 'N2O',
 'NH3',
 'NH3|Aircraft',
 'NH3|Energy Sector',
 'NH3|Industrial Sector',
 'NH3|International Shipping',
 'NH3|Residential Commercial Other',
 'NH3|Solvents Production and Application',
 'NH3|Transportation Sector',
 'NH3|Waste',
 'NOx',
 'NOx|Aircraft',
 'NOx|Energy Sector',
 'NOx|Industrial Sector',
 'NOx|International Shipping',
 'NOx|Residential Commercial Other',
 'NOx|Solvents Production and Application',
 'NOx|Transportation Sector',
 'NOx|Waste',
 'OC',
 'OC|Aircraft',
 'OC|Energy Sector',
 'OC|Industrial Sector',
 'OC|International Shipping',
 'OC|Residential Commercial Other',
 'OC|Solvents Production and Application',
 'OC|Transportation Sector',
 'OC|Waste',
 'Sulfur',
 'Sulfur|Aircraft',
 'Sulfur|Energy Sector',
 'Sulfur|Industrial Sector',
 'Sulfur|International Shipping',
 'Sulfur|Residential Commercial Other',
 'Sulfur|Solvents Production and Application',
 'Sulfur|Transportation Sector',
 'Sulfur|Waste',
 'VOC',
 'VOC|Aircraft',
 'VOC|Energy Sector',
 'VOC|Industrial Sector',
 'VOC|International Shipping',
 'VOC|Residential Commercial Other',
 'VOC|Solvents Production and Application',
 'VOC|Transportation Sector',
 'VOC|Waste']

In [180]:
pd.unique([x.split('|')[0] for x in chk(df_ffi)]).tolist()

['CO2', 'BC', 'CH4', 'CO', 'N2O', 'NH3', 'NOx', 'OC', 'Sulfur', 'VOC']

In [181]:
# Check variable-units pairs
list(df.groupby(['Variable', 'Unit']).groups)

[('BC', 'Mt BC yr-1'),
 ('C2F6', 'kt C2F6 yr-1'),
 ('C3F8', 'kt C3F8 yr-1'),
 ('C7F16', 'kt C7F16 yr-1'),
 ('C8F18', 'kt C8F18 yr-1'),
 ('CCl4', 'kt CCl4 yr-1'),
 ('CF4', 'kt CF4 yr-1'),
 ('CFC-11', 'kt CFC-11 yr-1'),
 ('CFC-113', 'kt CFC-113 yr-1'),
 ('CFC-114', 'kt CFC-114 yr-1'),
 ('CFC-115', 'kt CFC-115 yr-1'),
 ('CFC-12', 'kt CFC-12 yr-1'),
 ('CH2Cl2', 'kt CH2Cl2 yr-1'),
 ('CH3Br', 'kt CH3Br yr-1'),
 ('CH3CCl3', 'kt CH3CCl3 yr-1'),
 ('CH3Cl', 'kt CH3Cl yr-1'),
 ('CH4', 'Mt CH4 yr-1'),
 ('CHCl3', 'kt CHCl3 yr-1'),
 ('CO', 'Mt CO yr-1'),
 ('CO2', 'Mt CO2 yr-1'),
 ('HCFC-141b', 'kt HCFC-141b yr-1'),
 ('HCFC-142b', 'kt HCFC-142b yr-1'),
 ('HCFC-22', 'kt HCFC-22 yr-1'),
 ('HFC-125', 'kt HFC-125 yr-1'),
 ('HFC-134a', 'kt HFC-134a yr-1'),
 ('HFC-143a', 'kt HFC-143a yr-1'),
 ('HFC-152a', 'kt HFC-152a yr-1'),
 ('HFC-227ea', 'kt HFC-227ea yr-1'),
 ('HFC-23', 'kt HFC-23 yr-1'),
 ('HFC-236fa', 'kt HFC-236fa yr-1'),
 ('HFC-245fa', 'kt HFC-245fa yr-1'),
 ('HFC-32', 'kt HFC-32 yr-1'),
 ('HFC-365mfc', 'kt HFC-365mfc yr-1'),
 ('HFC-43-10mee', 'kt HFC-43-10mee yr-1'),
 ('Halon-1202', 'kt Halon-1202 yr-1'),
 ('Halon-1211', 'kt Halon-1211 yr-1'),
 ('Halon-1301', 'kt Halon-1301 yr-1'),
 ('Halon-2402', 'kt Halon-2402 yr-1'),
 ('N2O', 'kt N2O yr-1'),
 ('NF3', 'kt NF3 yr-1'),
 ('NH3', 'Mt NH3 yr-1'),
 ('NOx', 'Mt NOx yr-1'),
 ('OC', 'Mt OC yr-1'),
 ('SF6', 'kt SF6 yr-1'),
 ('SO2F2', 'kt SO2F2 yr-1'),
 ('Sulfur', 'Mt SO2 yr-1'),
 ('VOC', 'Mt VOC yr-1'),
 ('c-C4F8', 'kt c-C4F8 yr-1'),
 ('n-C4F10', 'kt n-C4F10 yr-1'),
 ('n-C5F12', 'kt n-C5F12 yr-1'),
 ('n-C6F14', 'kt n-C6F14 yr-1')]

In [182]:
dfin['emis'] = df
dfin['emis_afolu'] = df_afolu
dfin['emis_ffi'] = df_ffi

In [186]:
# Rename concentration variable as well
df = (
    dfin['conc']
    .rename(lambda x: x.replace('Atmospheric Concentrations|', ''), level='Variable')
    .rename(conv_ghg, level='Variable')
)

In [187]:
# Ensure all species are supported in MCE
[x for x in chk(df) if x not in forcing.ghgs]

[]

In [188]:
list(df.groupby(['Variable', 'Unit']).groups)

[('C2F6', 'ppt'),
 ('C3F8', 'ppt'),
 ('C7F16', 'ppt'),
 ('C8F18', 'ppt'),
 ('CCl4', 'ppt'),
 ('CF4', 'ppt'),
 ('CFC-11', 'ppt'),
 ('CFC-113', 'ppt'),
 ('CFC-114', 'ppt'),
 ('CFC-115', 'ppt'),
 ('CFC-12', 'ppt'),
 ('CH2Cl2', 'ppt'),
 ('CH3Br', 'ppt'),
 ('CH3CCl3', 'ppt'),
 ('CH3Cl', 'ppt'),
 ('CH4', 'ppb'),
 ('CHCl3', 'ppt'),
 ('CO2', 'ppm'),
 ('HCFC-141b', 'ppt'),
 ('HCFC-142b', 'ppt'),
 ('HCFC-22', 'ppt'),
 ('HFC-125', 'ppt'),
 ('HFC-134a', 'ppt'),
 ('HFC-143a', 'ppt'),
 ('HFC-152a', 'ppt'),
 ('HFC-227ea', 'ppt'),
 ('HFC-23', 'ppt'),
 ('HFC-236fa', 'ppt'),
 ('HFC-245fa', 'ppt'),
 ('HFC-32', 'ppt'),
 ('HFC-365mfc', 'ppt'),
 ('HFC-43-10mee', 'ppt'),
 ('Halon-1202', 'ppt'),
 ('Halon-1211', 'ppt'),
 ('Halon-1301', 'ppt'),
 ('Halon-2402', 'ppt'),
 ('N2O', 'ppb'),
 ('NF3', 'ppt'),
 ('SF6', 'ppt'),
 ('SO2F2', 'ppt'),
 ('c-C4F8', 'ppt'),
 ('n-C4F10', 'ppt'),
 ('n-C5F12', 'ppt'),
 ('n-C6F14', 'ppt')]

In [189]:
dfin['conc'] = df

In [191]:
# Rename forcing units
dfin['rf'] = dfin['rf'].rename({'W/m^2': 'W m-2'}, level='Unit')

In [192]:
# Categorize forcing variables into radiative forcing and effective radiative forcing
dfg = dfin['rf'].groupby([
    x.split('|')[0]
    for x in dfin['rf'].index.get_level_values('Variable')
])

In [212]:
list(dfg.groups)

['Effective Radiative Forcing', 'Radiative Forcing']

In [231]:
df_rf = (
    dfg.get_group('Radiative Forcing')
    .rename({'Radiative Forcing': 'total'}, level='Variable')
    .rename(lambda x: x.replace('Radiative Forcing|', ''), level='Variable')
)

In [232]:
df_erf = (
    dfg.get_group('Effective Radiative Forcing')
    .rename({'Effective Radiative Forcing': 'total'}, level='Variable')
    .rename(lambda x: x.replace('Effective Radiative Forcing|', ''), level='Variable')
)

In [233]:
# Change GHG names
df_rf = df_rf.rename(conv_ghg, level='Variable')

In [247]:
# Delete redundant part and apply several conversions
# Need check for "Other" category that appears to include BC_on_snow, H2O_stratospheric, halogens
def conv_name(x):
    return (
        x
        .replace('Anthropogenic|', '')
        .replace('Anthropogenic', 'anthro')
        .replace('Natural|', '')
        .replace('Natural', 'natural')
        .replace('Aerosols|', '')
        .replace('Aerosols-cloud Interactions', 'aerosols-cloud_interactions')
        .replace('Aerosols-radiation Interactions', 'aerosols-radiation_interactions')
        .replace('Tropospheric Ozone', 'O3_trop')
        .replace('Stratospheric Ozone', 'O3_strat')
        .replace('BC on Snow', 'BC_on_snow')
        .replace('Albedo Change', 'land_use')
        .replace('Other|Contrails and Contrail-induced Cirrus', 'contrails')
        .replace('CH4 Oxidation Stratospheric H2O', 'H2O_stratospheric')
        .replace('Solar', 'solar')
        .replace('Volcanic', 'volcanic')
        .replace('Aerosol', 'aerosol')
        .replace('Other WMGHGs', 'halogen')
        .replace('Other|', '')
        .replace('Other', 'other')
        # nonco2wmghg,minor
    )

In [248]:
df_rf = df_rf.rename(conv_name, level='Variable')
df_erf = df_erf.rename(conv_name, level='Variable')

In [249]:
chk(df_rf)

array(['total', 'anthro', 'aerosols', 'aerosols-cloud_interactions',
       'aerosols-radiation_interactions',
       'aerosols-radiation_interactions|Biomass Burning',
       'aerosols-radiation_interactions|Fossil and Industrial',
       'aerosols-radiation_interactions|Fossil and Industrial|BC and OC',
       'aerosols-radiation_interactions|Fossil and Industrial|BC and OC|BC',
       'aerosols-radiation_interactions|Fossil and Industrial|BC and OC|OC',
       'aerosols-radiation_interactions|Fossil and Industrial|Nitrate',
       'aerosols-radiation_interactions|Fossil and Industrial|Sulfate',
       'aerosols-radiation_interactions|Mineral Dust', 'land_use', 'CH4',
       'CO2', 'F-Gases', 'HFC', 'HFC-125', 'HFC-134a', 'HFC-143a',
       'HFC-227ea', 'HFC-23', 'HFC-245fa', 'HFC-32', 'HFC-43-10mee',
       'PFC', 'C2F6', 'n-C6F14', 'CF4', 'SF6', 'Montreal Gases', 'CCl4',
       'CFC', 'CFC-11', 'CFC-113', 'CFC-114', 'CFC-115', 'CFC-12',
       'CH3Br', 'CH3CCl3', 'CH3Cl', 'HCFC-141b', 'HCFC-142b', 'HCFC-22',
       'Halon-1202', 'Halon-1211', 'Halon-1301', 'Halon-2402', 'N2O',
       'other', 'BC_on_snow', 'H2O_stratospheric', 'O3_strat', 'O3_trop',
       'natural', 'solar', 'volcanic'], dtype=object)

In [250]:
chk(df_erf)

array(['total', 'anthro', 'aerosols', 'aerosols-cloud_interactions',
       'aerosols-radiation_interactions', 'land_use', 'CH4', 'CO2', 'N2O',
       'other', 'BC_on_snow', 'H2O_stratospheric', 'contrails', 'halogen',
       'O3_strat', 'O3_trop', 'natural', 'solar', 'volcanic'],
      dtype=object)

In [252]:
dfin['rf'] = df_rf
dfin['erf'] = df_erf

## Save data for MCE use

In [278]:
outpath = 'untracked/ds_rcmip2.h5'
ds = ScenarioBase(outpath=outpath, mode='w')

[2025-04-13 18:08:18 mce.core] INFO:untracked/ds_rcmip2.h5 already exists
[2025-04-13 18:08:18 mce.core] INFO:file untracked/ds_rcmip2.h5 opened with mode=w

In [279]:
id_vars_1 = ['Scenario', 'Region']
id_vars_2 = ['Model', 'Activity_Id', 'Mip_Era']

In [280]:
for cat, dfin1 in dfin.items():
    for k1, v1 in dfin1.groupby(id_vars_1):
        kw1 = dict(zip(id_vars_1, k1))
        if kw1['Region'] != 'World':
            continue
    
        k2, v2 = next(v1.droplevel(id_vars_1).groupby(id_vars_2).__iter__())
        if len(v1) != len(v2):
            raise ValueError('unexpected indexes')
    
        kw2 = dict(zip(id_vars_2, k2))
    
        df = v2.droplevel(id_vars_2) .T .dropna(how='all')
    
        grp = ds.file.create_group('{}/input/{}'.format(kw1['Scenario'], cat))
        
        for k, v in kw2.items():
            grp.attrs[k] = v
        
        dset = grp.create_dataset('time', data=df.index.values)
        dset.attrs['units'] = 'yr'
        
        for k, v in df.items():
            dset = grp.create_dataset(k[0], data=v.values)
            dset.attrs['units'] = k[1]

In [281]:
ds.close()

[2025-04-13 18:08:31 mce.core] INFO:file untracked/ds_rcmip2.h5 closed

## An example scenario

In [282]:
ds = ScenarioBase(outpath=outpath, mode='r')

[2025-04-13 18:08:59 mce.core] INFO:untracked/ds_rcmip2.h5 already exists
[2025-04-13 18:08:59 mce.core] INFO:file untracked/ds_rcmip2.h5 opened with mode=r

In [284]:
list(ds.file)

['1pctCO2',
 '1pctCO2-4xext',
 'abrupt-0p5xCO2',
 'abrupt-2xCO2',
 'abrupt-4xCO2',
 'esm-bell-1000PgC',
 'esm-bell-2000PgC',
 'esm-bell-750PgC',
 'esm-pi-CO2pulse',
 'esm-pi-cdr-pulse',
 'esm-piControl',
 'historical',
 'historical-cmip5',
 'piControl',
 'rcp26',
 'rcp45',
 'rcp60',
 'rcp85',
 'ssp119',
 'ssp126',
 'ssp245',
 'ssp370',
 'ssp370-lowNTCF-aerchemmip',
 'ssp370-lowNTCF-gidden',
 'ssp434',
 'ssp460',
 'ssp534-over',
 'ssp585']

In [285]:
scenario = 'ssp245'
list(ds.file[f'{scenario}/input'])

['conc', 'emis', 'emis_afolu', 'emis_ffi', 'erf']

In [286]:
cat = 'emis'
grp = ds.file[f'{scenario}/input/{cat}']
list(grp.attrs.items())

[('Activity_Id', 'not_applicable'),
 ('Mip_Era', 'CMIP6'),
 ('Model', 'MESSAGE-GLOBIOM')]

In [287]:
df = pd.DataFrame({k: v for k, v in grp.items()}).set_index('time')
df.columns = pd.MultiIndex.from_tuples([(k, grp[k].attrs['units']) for k in df.columns])
df

,BC,C2F6,C3F8,C7F16,C8F18,CCl4,CF4,CFC-11,CFC-113,CFC-114,...,NOx,OC,SF6,SO2F2,Sulfur,VOC,c-C4F8,n-C4F10,n-C5F12,n-C6F14
,Mt BC yr-1,kt C2F6 yr-1,kt C3F8 yr-1,kt C7F16 yr-1,kt C8F18 yr-1,kt CCl4 yr-1,kt CF4 yr-1,kt CFC-11 yr-1,kt CFC-113 yr-1,kt CFC-114 yr-1,...,Mt NOx yr-1,Mt OC yr-1,kt SF6 yr-1,kt SO2F2 yr-1,Mt SO2 yr-1,Mt VOC yr-1,kt c-C4F8 yr-1,kt n-C4F10 yr-1,kt n-C5F12 yr-1,kt n-C6F14 yr-1
time,,,,,,,,,,,,,,,,,,,,,
1750,2.097771,0.0,0.0,0.0,0.0,0.024857,0.010071,0.0,0.0,0.0,...,12.735212,15.447668,0.0,0.0,2.440048,60.021826,0.0,0.0,0.0,0.0
1751,2.072926,0.0,0.0,0.0,0.0,0.024857,0.010071,0.0,0.0,0.0,...,12.592303,15.188717,0.0,0.0,2.408379,59.088126,0.0,0.0,0.0,0.0
1752,2.064312,0.0,0.0,0.0,0.0,0.024857,0.010071,0.0,0.0,0.0,...,12.594270,15.034476,0.0,0.0,2.397116,58.631997,0.0,0.0,0.0,0.0
1753,2.071951,0.0,0.0,0.0,0.0,0.024857,0.010071,0.0,0.0,0.0,...,12.539820,15.182545,0.0,0.0,2.410693,59.026349,0.0,0.0,0.0,0.0
1754,2.099350,0.0,0.0,0.0,0.0,0.024857,0.010071,0.0,0.0,0.0,...,12.636837,15.558773,0.0,0.0,2.462065,60.269945,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,1.210632,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,15.837425,10.702379,0.0,0.0,2.030862,40.272056,0.0,0.0,0.0,0.0
2470,1.210632,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,15.837425,10.702379,0.0,0.0,2.030862,40.272056,0.0,0.0,0.0,0.0
2480,1.210632,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,15.837425,10.702379,0.0,0.0,2.030862,40.272056,0.0,0.0,0.0,0.0
2490,1.210632,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,15.837425,10.702379,0.0,0.0,2.030862,40.272056,0.0,0.0,0.0,0.0
2500,1.210632,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,15.837425,10.702379,0.0,0.0,2.030862,40.272056,0.0,0.0,0.0,0.0

In [288]:
cat = 'emis_afolu'
grp = ds.file[f'{scenario}/input/{cat}']
df = pd.DataFrame({k: v for k, v in grp.items()}).set_index('time')
df.columns = pd.MultiIndex.from_tuples([(k, grp[k].attrs['units']) for k in df.columns])
df

,BC,BC|Agricultural Waste Burning,BC|Agriculture,BC|Forest Burning,BC|Grassland Burning,BC|Peat Burning,CH4,CH4|Agricultural Waste Burning,CH4|Agriculture,CH4|Forest Burning,...,Sulfur|Agriculture,Sulfur|Forest Burning,Sulfur|Grassland Burning,Sulfur|Peat Burning,VOC,VOC|Agricultural Waste Burning,VOC|Agriculture,VOC|Forest Burning,VOC|Grassland Burning,VOC|Peat Burning
,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt CH4 yr-1,Mt CH4 yr-1,Mt CH4 yr-1,Mt CH4 yr-1,...,Mt SO2 yr-1,Mt SO2 yr-1,Mt SO2 yr-1,Mt SO2 yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1
time,,,,,,,,,,,,,,,,,,,,,
1750,1.580773,0.227523,0.0,0.388327,0.963783,0.001140,15.709933,1.765579,4.393737,3.904209,...,0.0,0.581790,1.250313,0.011405,53.597764,7.577822,0.0,16.418551,27.818236,1.783154
1751,1.554720,0.219446,0.0,0.378339,0.955803,0.001132,15.558524,1.702902,4.455776,3.799729,...,0.0,0.561027,1.239960,0.011319,52.647353,7.324419,0.0,15.978964,27.578007,1.765964
1752,1.544896,0.218279,0.0,0.364662,0.960834,0.001121,15.485732,1.693847,4.518692,3.652164,...,0.0,0.540966,1.246487,0.011214,52.174545,7.285738,0.0,15.373813,27.770159,1.744835
1753,1.551329,0.222769,0.0,0.376902,0.950526,0.001132,15.669333,1.728685,4.582496,3.785890,...,0.0,0.562811,1.233115,0.011316,52.552259,7.418491,0.0,15.923112,27.445411,1.765245
1754,1.577521,0.230967,0.0,0.388604,0.956791,0.001159,16.008274,1.792306,4.647200,3.949499,...,0.0,0.598595,1.241242,0.011588,53.779248,7.680968,0.0,16.615323,27.662988,1.819969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,1.210632,0.140096,0.0,0.353377,0.685022,0.032136,122.102595,1.180573,107.272409,7.735987,...,0.0,1.029653,0.776331,0.064581,40.272056,3.271648,0.0,14.027035,17.935887,5.037486
2470,1.210632,0.140096,0.0,0.353377,0.685022,0.032136,122.102595,1.180573,107.272409,7.735987,...,0.0,1.029653,0.776331,0.064581,40.272056,3.271648,0.0,14.027035,17.935887,5.037486
2480,1.210632,0.140096,0.0,0.353377,0.685022,0.032136,122.102595,1.180573,107.272409,7.735987,...,0.0,1.029653,0.776331,0.064581,40.272056,3.271648,0.0,14.027035,17.935887,5.037486
2490,1.210632,0.140096,0.0,0.353377,0.685022,0.032136,122.102595,1.180573,107.272409,7.735987,...,0.0,1.029653,0.776331,0.064581,40.272056,3.271648,0.0,14.027035,17.935887,5.037486
2500,1.210632,0.140096,0.0,0.353377,0.685022,0.032136,122.102595,1.180573,107.272409,7.735987,...,0.0,1.029653,0.776331,0.064581,40.272056,3.271648,0.0,14.027035,17.935887,5.037486

In [289]:
cat = 'emis_ffi'
grp = ds.file[f'{scenario}/input/{cat}']
df = pd.DataFrame({k: v for k, v in grp.items()}).set_index('time')
df.columns = pd.MultiIndex.from_tuples([(k, grp[k].attrs['units']) for k in df.columns])
df

,BC,BC|Aircraft,BC|Energy Sector,BC|Industrial Sector,BC|International Shipping,BC|Residential Commercial Other,BC|Solvents Production and Application,BC|Transportation Sector,BC|Waste,CH4,...,Sulfur|Waste,VOC,VOC|Aircraft,VOC|Energy Sector,VOC|Industrial Sector,VOC|International Shipping,VOC|Residential Commercial Other,VOC|Solvents Production and Application,VOC|Transportation Sector,VOC|Waste
,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt BC yr-1,Mt CH4 yr-1,...,Mt SO2 yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1,Mt VOC yr-1
time,,,,,,,,,,,,,,,,,,,,,
1750,0.516997,0.0,0.000885,0.008787,0.0,0.507291,0.0,0.000035,0.0,3.309850,...,0.0,6.424063,0.0,0.004417,0.018913,0.0,6.400558,0.0,0.000175,0.0
1751,0.518206,0.0,0.000888,0.008809,0.0,0.508474,0.0,0.000035,0.0,3.356585,...,0.0,6.440773,0.0,0.004417,0.018967,0.0,6.417214,0.0,0.000175,0.0
1752,0.519416,0.0,0.000891,0.008831,0.0,0.509659,0.0,0.000035,0.0,3.403980,...,0.0,6.457452,0.0,0.004418,0.019023,0.0,6.433835,0.0,0.000175,0.0
1753,0.520622,0.0,0.000894,0.008853,0.0,0.510840,0.0,0.000035,0.0,3.452044,...,0.0,6.474090,0.0,0.004418,0.019078,0.0,6.450419,0.0,0.000175,0.0
1754,0.521829,0.0,0.000897,0.008875,0.0,0.512022,0.0,0.000035,0.0,3.500787,...,0.0,6.490697,0.0,0.004420,0.019134,0.0,6.466968,0.0,0.000175,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
2470,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
2480,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
2490,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
2500,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0

In [290]:
cat = 'conc'
grp = ds.file[f'{scenario}/input/{cat}']
df = pd.DataFrame({k: v for k, v in grp.items()}).set_index('time')
df.columns = pd.MultiIndex.from_tuples([(k, grp[k].attrs['units']) for k in df.columns])
df

,C2F6,C3F8,C7F16,C8F18,CCl4,CF4,CFC-11,CFC-113,CFC-114,CFC-115,...,Halon-1301,Halon-2402,N2O,NF3,SF6,SO2F2,c-C4F8,n-C4F10,n-C5F12,n-C6F14
,ppt,ppt,ppt,ppt,ppt,ppt,ppt,ppt,ppt,ppt,...,ppt,ppt,ppb,ppt,ppt,ppt,ppt,ppt,ppt,ppt
time,,,,,,,,,,,,,,,,,,,,,
1700,0.00000,0.00000,0.000000,0.000000,0.025,34.049999,0.000000,0.000000,0.00000,0.00000,...,0.000000,0.0,272.212049,0.00000,0.0000,0.000000,0.00000,0.000000,0.000000,0.000000
1701,0.00000,0.00000,0.000000,0.000000,0.025,34.049999,0.000000,0.000000,0.00000,0.00000,...,0.000000,0.0,272.243047,0.00000,0.0000,0.000000,0.00000,0.000000,0.000000,0.000000
1702,0.00000,0.00000,0.000000,0.000000,0.025,34.049999,0.000000,0.000000,0.00000,0.00000,...,0.000000,0.0,272.266047,0.00000,0.0000,0.000000,0.00000,0.000000,0.000000,0.000000
1703,0.00000,0.00000,0.000000,0.000000,0.025,34.049999,0.000000,0.000000,0.00000,0.00000,...,0.000000,0.0,272.298047,0.00000,0.0000,0.000000,0.00000,0.000000,0.000000,0.000000
1704,0.00000,0.00000,0.000000,0.000000,0.025,34.049999,0.000000,0.000000,0.00000,0.00000,...,0.000000,0.0,272.331052,0.00000,0.0000,0.000000,0.00000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,9.59912,1.67188,0.366361,0.176951,0.000,140.825001,0.015106,0.251401,1.05305,3.93032,...,0.003763,0.0,359.840983,2.46639,18.1191,0.000344,3.90381,0.353267,0.179582,0.685107
2497,9.59816,1.67164,0.366239,0.176892,0.000,140.822000,0.014794,0.248462,1.04701,3.92252,...,0.003707,0.0,359.825979,2.46177,18.1134,0.000334,3.90259,0.353196,0.179538,0.684886
2498,9.59720,1.67140,0.366117,0.176833,0.000,140.818998,0.014489,0.245556,1.04100,3.91474,...,0.003651,0.0,359.811981,2.45715,18.1077,0.000325,3.90137,0.353126,0.179494,0.684665
2499,9.59624,1.67116,0.365995,0.176774,0.000,140.815999,0.014190,0.242685,1.03502,3.90697,...,0.003597,0.0,359.797984,2.45254,18.1021,0.000316,3.90015,0.353055,0.179450,0.684444
2500,9.59576,1.67104,0.365934,0.176744,0.000,140.815004,0.014042,0.241258,1.03204,3.90309,...,0.003570,0.0,359.789983,2.45023,18.0993,0.000311,3.89954,0.353020,0.179428,0.684334

In [291]:
cat = 'erf'
grp = ds.file[f'{scenario}/input/{cat}']
df = pd.DataFrame({k: v for k, v in grp.items()}).set_index('time')
df.columns = pd.MultiIndex.from_tuples([(k, grp[k].attrs['units']) for k in df.columns])
df

,BC_on_snow,CH4,CO2,H2O_stratospheric,N2O,O3_strat,O3_trop,aerosols,aerosols-cloud_interactions,aerosols-radiation_interactions,anthro,contrails,halogen,land_use,natural,other,solar,total,volcanic
,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2,W m-2
time,,,,,,,,,,,,,,,,,,,
1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.259367,0.000000,0.073621,0.259367,0.185746
1751,-0.000281,0.000273,0.000824,0.000035,0.000098,0.0,0.000200,0.000836,0.000526,0.000311,0.001756,0.000000,0.000000,-0.000229,0.241032,-0.000246,0.055275,0.242788,0.185757
1752,-0.000378,0.000945,0.001647,0.000121,0.000210,0.0,0.000400,0.001212,0.000712,0.000500,0.003698,0.000000,0.000000,-0.000459,0.210958,-0.000257,0.025197,0.214656,0.185760
1753,-0.000291,0.001409,0.002330,0.000180,0.000367,0.0,0.000600,0.000801,0.000489,0.000312,0.004707,0.000000,0.000000,-0.000688,0.174781,-0.000111,-0.010981,0.179488,0.185762
1754,0.000017,0.001768,0.003153,0.000226,0.000512,0.0,0.000800,-0.000571,-0.000366,-0.000206,0.004987,0.000000,0.000000,-0.000918,0.140367,0.000243,-0.045395,0.145354,0.185762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,-0.010016,0.153228,4.254183,0.019610,0.267883,0.0,0.038019,-0.023369,0.006829,-0.030198,4.665692,0.085902,0.027719,-0.147469,0.000000,0.123215,0.000000,4.665692,0.000000
2497,-0.010016,0.153223,4.252429,0.019609,0.267841,0.0,0.038018,-0.023369,0.006829,-0.030198,4.663863,0.085902,0.027695,-0.147469,0.000000,0.123190,0.000000,4.663863,0.000000
2498,-0.010016,0.153218,4.250684,0.019609,0.267802,0.0,0.038016,-0.023369,0.006829,-0.030198,4.662048,0.085902,0.027671,-0.147469,0.000000,0.123165,0.000000,4.662048,0.000000
2499,-0.010016,0.153213,4.248939,0.019608,0.267762,0.0,0.038014,-0.023369,0.006829,-0.030198,4.660233,0.085902,0.027646,-0.147469,0.000000,0.123141,0.000000,4.660233,0.000000
2500,-0.010016,0.153211,4.248067,0.019608,0.267740,0.0,0.038013,-0.023369,0.006829,-0.030198,4.659322,0.085902,0.027635,-0.147469,0.000000,0.123128,0.000000,4.659322,0.000000

In [292]:
ds.close()

[2025-04-13 18:14:13 mce.core] INFO:file untracked/ds_rcmip2.h5 closed